@import '../styles/styles.scss';

.image-container h1 {
    text-shadow: 2px 3px 2px $apple;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-image {
    width: 100%;
    height:70vh;
    opacity: 90%;
    z-index: 1;
 }