@import '../../components/styles/styles';

article{
    background-color: $peach;
    padding: 15px 30px;
    margin: 15px;
    border: dashed 3px $orange;
    border-radius: 15px;
    width: 75%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}