@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

$cherry: #3D1B1C;
$carrot: #CC5803;
$orange: #E2711D;
$tangerine: #FF9505;
$mango: #FFB627;
$peach: #FFC971;
$lychee: #E5C691;
$apple: #FFE8C2;


button{
  font-family: 'Sniglet', cursive;
}