@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
$cherry: #3D1B1C;
$strawberry: #f57a7d;
$carrot: #CC5803;
$orange: #EF6F0E;
$tangerine: #FF9505;
$mango: #FFB627;
$peach: #ffc971;
$lychee: #f8d79d;
$apple: #ffebc9;

body{
  background-color: $apple;
  font-family: 'Sniglet', cursive;
  font-size: 1rem;
  color: $cherry;
}

.submit-button{
  font-family: 'Sniglet', cursive;
  width: fit-content;
  background-color: $peach;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

.success-message{
  text-align: center;
  color: #32c132;
  font-size: 1rem;
}

.error-message{
  text-align: center;
  color: #e00006;
  font-weight: bold;
  font-size: 1rem;
}

//@media only screen and (max-width: 768px) {
//  nav{
//    font-size: 0.5rem;
//    background-color: $tangerine;
//  }
//  #date-picker{
//    display: flex;
//  }
//}