@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
$cherry: #3D1B1C;
$strawberry: #f56e72;
$carrot: #CC5803;
$orange: #EF6F0E;
$tangerine: #FF9505;
$mango: #FFB627;
$peach: #FFC971;
$lychee: #E5C691;
$apple: #FFE8C2;

button{
  font-family: 'Sniglet', cursive;
}

form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

.success-message{
  text-align: center;
  color: #228322;
  font-size: 1.20rem;
}

.error-message{
  text-align: center;
  color: #d4032d;
  font-weight: bold;
  font-size: 1.20rem;
}

//@media only screen and (max-width: 768px) {
//  nav{
//    font-size: 0.5rem;
//    background-color: $tangerine;
//  }
//  #date-picker{
//    display: flex;
//  }
//}