@import '../../components/styles/styles';

.contact{
    padding-top: 45vh;
    padding-left: 1rem;
    text-align: center;
    color: $cherry;
}

#colored-logo{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    height: 250px;
    width: 400px;
}




