@import '../../components/styles/styles';

#login-form{
    background-color: $peach;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-self: center;
    align-items: center;
    width: 400px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;
}

.input-field{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.error-message{
    color: crimson;
}

fieldset{
    border-radius: 5px;
    padding: 20px;
}

.submit-button{
    width: 80px;
    margin: 5px;
}

.register-link{
    text-align: center;
    color: hotpink;
    font-size: x-large;
    display: block;
    position: absolute;
    top: 80%;
    left:50%;
}

#colored-logo{
    position: fixed;
    top: 20vh;
    left: 39%;
    height: 300px;
    width: 500px;
}