@import '../../components/styles/styles';

#sign-form{
    background-color: $tangerine;
    border: dashed 3px $carrot;
    }

input{
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
label{
    font-size: 1.15rem;
}

fieldset{
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.submit-button{
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#colored-logo{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
    height: 300px;
    width: 500px;
}