@import '../../components/styles/styles';

#booking-form {
  width: 70%;
  height: 60%;
  padding-bottom: 20px;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input{
    padding: 3px;
    margin: 3px;
    display: block;
    justify-content: space-between;
  }

  #date-picker {


      fieldset{
        width: fit-content;
        margin: 5px;
      }
  }

  .success-message{
    text-align: left;
  }
}
#price{
  display: block;
  position: absolute;
  right: 20%;
}

textarea{
  margin: 5px;
}
