@import '../../components/styles/styles';

#booking-form {
  width: 70%;
  height: 60%;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  select{
    width: fit-content;
    padding: 5px;
  }

  input{
    padding: 3px;
    margin: 3px;
    display: block;
    justify-content: space-between;
  }

  #date-picker {

      fieldset{
        width: fit-content;
        margin: 5px;
        border-radius: 3px;
      }
  }

  .success-message{
    text-align: left;
  }
}

textarea{
  margin: 5px;
}
