@import '../../components/styles/styles';

#booking-form {
  width: 80%;
  height: 70%;
  padding-bottom: 20px;

  #special-check{
      display: inline-block;
  }

  input{
    padding: 3px;
    margin: 3px;
    display: block;
    justify-content: space-between;
  }

  #date-picker {
    display: block;
    position: absolute;
    right: 10%;

      fieldset{
        width: fit-content;
        margin: 5px;
      }
  }

  .success-message{
    text-align: left;
  }
}


textarea{
  margin: 5px;
}
